* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://picsum.photos/1920/1080');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    padding: 70px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 35px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #9ee01a;
}

#scissors {
    background-color: #7dbeed;
}

p {
    font-weight:bold;
    font-size: 35px;
    margin-bottom: 30px;
   
}

.your-score span {
    color: rgba(44, 58, 95, 0.74);
}

.machine-score span {
    color: rgb(202, 66, 13);
}